<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nga.uit.edu.mytravel">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTravel">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity android:name="controller.CreateTrip.DetailPlaceActivity"></activity>
        <activity android:name="controller.CreateTrip.Trip6Activity" />
        <activity android:name="controller.mytravel.HomeScreen"></activity>

        <activity android:name="controller.minh.ChangeProfileActivity" />
        <activity android:name="controller.minh.ProfileActivity" />
        <activity android:name="controller.mytravel.RegisterActivity" />
        <activity android:name="controller.mytravel.LoginActivity" />
        <activity android:name="controller.CreateTrip.CreateTrip1" />
        <activity android:name="controller.CreateTrip.CreateTrip2" />
        <activity android:name="controller.mytravel.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>